###########################
# Where is Poppy Specific #
###########################

# Art Folder
/Assets/Concept Art/

# Release Candiadates are stored locally as zip files
*.zip

# Jackhammer Intermediate Files
*.ext
*.log
*.prt
*.wa_

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.tlog
*.idb
Source Code/projects/vs2010/Debug/hldll/int/vc120.pdb
*.suo
Source Code/projects/vs2010/steam_appid.txt
Source Code/projects/vs2010/Debug/hldll/wip.dll
*.exp
Source Code/projects/vs2010/Debug/hldll/wip.ilk
Source Code/projects/vs2010/Debug/hldll/wip.lib
Source Code/projects/vs2010/Debug/hl_cdll/client.dll
Source Code/projects/vs2010/Debug/hl_cdll/client.ilk
Source Code/projects/vs2010/Debug/hl_cdll/client.pdb
*.user
*.sdf
Source Code/projects/vs2010/Debug/hl_cdll/int/vc120.pdb
Source Code/projects/vs2010/Debug/hldll/wip.pdb
Source Code/projects/vs2010/Debug/hl_cdll/client.lib
*.max
